// Place all the styles related to the sales_systems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.content{
  height: 100%;
  clear:left;
  width:69%;
}
.top{
  width:100%;
  height:50px;
}
.sidebar{
  width:29%;
  height:100px;
}
.contnet_sidebar{
  clear:left;
  width:29%;
}
.content_main{
  height:100%;
  width:69%;
}
