<div>
  <div><h1>新增商品</h1></div>
  <div>
    <div class="field">
      <label>產品編號</label><input type="textbox">
    </div>
    <div class="field">
      <label>產品名稱</label><input type="textbox">
    </div>
    <div class="field">
      <label>數量</label><input type="textbox">
    </div>
    <div class="field">
      <label>單價</label><input type="textbox">
    </div>
    <div class="field">
      <label>經銷商價格</label><input type="textbox">
    </div>
  </div>
  <div>
    <input type="button" value="送出">
  </div>
</div>